
<%= simple_form_for(@recipe, local: true,  html: { class: 'recipe-form' } ) do |recipe_form| %>
  <%= render 'shared/error_messages', object: recipe_form.object %>

  <%= recipe_form.input :title %>

  <%= recipe_form.input :description, as: :text, input_html: { rows: 4 } %>

  <h3>Ingredients</h3>
  <%= recipe_form.simple_fields_for :recipe_line_items do |line_item_form| %>
    <%= render 'recipe_line_item_fields', f: line_item_form %>
  <% end %>


  <div><%= link_to_add_association 'Add ingredient', recipe_form, :recipe_line_items %></div>
  <br>
  <%= recipe_form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

