<div class="nested-fields">
  <div class="field">
    <%= f.simple_fields_for :ingredient do |ingredient_form| %>
      <%= ingredient_form.input :name %>
    <% end %>

    <%= f.simple_fields_for :quantity do |quantity_form| %>
      <%= quantity_form.input :unit %>
      <%= quantity_form.input :amount, as: :decimal %>
    <% end %>
    <%#= link_to_remove_association '-', f %>
  </div>
</div>
