<% provide(:title, 'Recipe') %>

<h3><%= @recipe.title %></h3>
<p class='text-muted'>This is a base recipe - think of it as x1. To create different size yields or concentrations, create a <%= link_to "new <i>Batch</i>".html_safe, new_recipe_batch_path(@recipe) %></p>
<strong>Description</strong>
<p><%= @recipe.description %></p>
<strong>Ingredients</strong>
<ul class="list-unstyled">
  <% @recipe.recipe_line_items.each do |recipe_line_item| %>
  <li>
    <div>
      <%= recipe_ingredient_line_item(recipe_line_item) %>
    </div>
  </li>
  <% end %>
</ul>
<div><%= link_to 'Edit', edit_recipe_path(@recipe) %></div>
<div><%= link_to "Create New Batch of #{@recipe.title}", new_recipe_batch_path(@recipe) %></div>
<div><%= link_to("Work with batches of #{@recipe.title}", recipe_batches_path(@recipe)) if @recipe.batches.any? %></div>

<% if @recipe.batches.any? %>
  <h3>Batches of this recipe</h3>
  <ul class="list-unstyled">
    <% @recipe.batches.order(updated_at: :desc).each do |batch| %>
      <li>
        <%= link_to batch.display_name(truncate_by: 50), recipe_batch_path(@recipe, batch) %>
      </li>
    <% end %>
  </ul>
<% end %>
