<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |user_form| %>
      <%= user_form.label :first_name %>
      <%= user_form.text_field :first_name %>

      <%= user_form.label :last_name %>
      <%= user_form.text_field :last_name %>

      <%= user_form.label :email %>
      <%= user_form.email_field :email %>

      <%= user_form.label :password %>
      <%= user_form.password_field :password %>

      <%= user_form.label :password_confirmation, 'Confirmation' %>
      <%= user_form.password_field :password_confirmation %>

      <%= user_form.submit 'Create account', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
