<% provide(:title, 'Batch') %>
<h1>Batch of <%= @recipe.title %></h1>
<ul>
  <li>Batch name: <%= @batch.name %></li>
  <li>Preparation date: <%= @batch.date_long %></li>
  <li><strong>Recipe multiplier: <%= @batch.multiplier %></strong></li>
  <li><strong>Recipe concentration %: <%= @batch.concentration %></strong></li>
  <li>Batch preparation notes: <%= @batch.notes %></li>
  <br>
  <ul>
    <% @recipe.recipe_line_items.each do |recipe_line_item| %>
      <li>
        <%= converted_recipe_line_item(line_item: recipe_line_item, batch: @batch) %>
      </li>
    <% end %>
  </ul>
</ul>
<div><%= link_to('Edit this batch', edit_recipe_batch_path(@recipe, @batch)) %></div>
<div><%= link_to 'View Recipe', recipe_path(@recipe) %></div>
<div><%= link_to 'Delete', recipe_batch_path(@recipe, @batch), method: :delete, data: { confirm: "Are you sure?"} %></div>

